__pycache__
*.pyc
.git
.gitignore

.venv
venv
logs
*.log
.DS_Store
*.tar
new-test-api*
.env
.env.*
!.env.example
vectorstore
data/bot_config.db
data/uploads
data/rag_uploads
clean_data
datapdf
.pytest_cache
all-MiniLM-L6-v2.onnx
test.py
text.txt
