__pycache__
*.pyc
.git
.gitignore

.venv
venv
logs
*.log
.DS_Store
*.tar
new-test-api*
.env
.env.*
!.env.example
data/uploads
.pytest_cache
all-MiniLM-L6-v2.onnx
test.py
text.txt
outputs/
assets/
evaluation/
reports/
.github/
