.env
.env.*
*.env

venv/
.venv/
ENV/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

logs/
*.log

data/uploads/
data/api.log
data/bot_config.db
data/qa_generated/
data/qa_generated_fixed/
clean_data/

vectorstore/
*.sqlite3

all-MiniLM-L6-v2.onnx
