flask
requests
python-dotenv
reportlab
PyPDF2
python-docx
langchain
langchain-community
langgraph
sentence-transformers
faiss-cpu
typing-extensions

openai
langchain
langchain-community
langchain-openai
chromadb
streamlit
pandas
tiktoken
flask
google-generativeai
sentence-transformers
faiss-cpu
python-dotenv
requests
PyPDF2
python-docx
reportlab
langgraph
typing-extensions
greenlet==3.0.3
